<form action="/create" method="POST">
    <label for="Message">Message</label>
    <input type="text" name="message">
    <label for="Author_id">Author_id</label>
    <input type="number" name="author_id">
    <button type="submit">Add tweet</button>
</form>